DataFactory/pipeline/http-binary-load.json
{
	"name": "http-binary-load",
	"properties": {
		"activities": [
			{
				"name": "set-full-path",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "OutputFullPath",
					"value": {
						"value": "@replace(replace(replace(replace(replace(replace(\npipeline().parameters.TaskDetails.RawPath\n,'$yyyy$', formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'yyyy'))\n,'$MM$', formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'MM'))\n,'$dd$', formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'dd'))\n,'$HH$', formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'HH'))\n,'$mm$', formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'mm'))\n,'$guid$', guid())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set-url",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Url",
					"value": {
						"value": "@pipeline().parameters.TaskDetails.SourceQuery",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copy-http-binary",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-full-path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Destination",
						"value": "raw/Cewa Financials/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "HTTP_Binary",
						"type": "DatasetReference",
						"parameters": {
							"httpUrl": {
								"value": "@variables('Url')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DLS_Binary",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@variables('OutputFullPath')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "log-status",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "copy-http-binary",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "log-status-update",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"BatchID": {
							"value": "@pipeline().parameters.TaskDetails.BatchID",
							"type": "Expression"
						},
						"SourceID": {
							"value": "@pipeline().parameters.TaskDetails.SourceID",
							"type": "Expression"
						},
						"Property": "RawPath",
						"Value": {
							"value": "@variables('OutputFullPath')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log-copy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "copy-http-binary",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "log-message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"BatchStatusID": {
							"value": "@pipeline().parameters.TaskDetails.ID",
							"type": "Expression"
						},
						"ActivityType": "copy-data",
						"Message": {
							"value": "@{activity('copy-http-binary')}",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"TaskDetails": {
				"type": "object"
			}
		},
		"variables": {
			"OutputFullPath": {
				"type": "String"
			},
			"Url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ELT-Framework/SourceHandler"
		},
		"annotations": []
	}
}