DataFactory/pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"activities": [
			{
				"name": "get-extract-load",
				"description": " ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set-parent-batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @SystemCodes VARCHAR(50) = '@{pipeline().parameters.SystemCodes}';\nDECLARE @BatchSize INT = @{pipeline().parameters.BatchSize};\nWITH\n    [_SystemCodes]\n    AS\n    (\n        SELECT DISTINCT TRIM(value) [SystemCode]\n        FROM STRING_SPLIT(IIF(LEN(TRIM(@SystemCodes))=0, NULL, @SystemCodes), ',')\n    ),\n\tExtractLoad AS\n\t(\n\t\tSELECT ROW_NUMBER() OVER(ORDER BY M.[SourceID]) / @BatchSize [Order], M.[SystemCode], M.[SourceID]\n\t\tFROM [dbo].[ExtractLoadManifest] M JOIN [_SystemCodes] C ON C.[SystemCode] = M.[SystemCode]\n\t\tWHERE [Enabled] = 1\n\t\tUNION\n\t\tSELECT ROW_NUMBER() OVER(ORDER BY M.[SourceID]) / @BatchSize [Order], M.[SystemCode], M.[SourceID]\n\t\tFROM [dbo].[ExtractLoadManifest] M\n\t\tWHERE [Enabled] = 1 AND (SELECT COUNT(*)\n\t\tFROM [_SystemCodes]) = 0\n\t)\n\tSELECT SystemCode, MIN([SourceID]) StartSourceID, MAX([SourceID]) EndSourceID\n\tFROM ExtractLoad\n\tGROUP BY [Order], [SystemCode]\n\tORDER BY [Order], MIN([SourceID])",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_ControlDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for-each-source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get-extract-load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-extract-load').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "execute-system",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "System",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SystemCode": {
										"value": "@item().SystemCode",
										"type": "Expression"
									},
									"ParentBatchID": {
										"value": "@variables('ParentBatchID')",
										"type": "Expression"
									},
									"StartSourceID": {
										"value": "@item().StartSourceID",
										"type": "Expression"
									},
									"EndSourceID": {
										"value": "@item().EndSourceID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "set-parent-batch",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ParentBatchID",
					"value": {
						"value": "@substring(pipeline().GroupId, 0,8)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "if-transform",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "for-each-source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('Transform')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "execute-transform",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Transform",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParentBatchID": {
										"value": "@variables('ParentBatchID')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SystemCodes": {
				"type": "string"
			},
			"BatchSize": {
				"type": "int",
				"defaultValue": 500
			}
		},
		"variables": {
			"SystemCode": {
				"type": "String"
			},
			"ParentBatchID": {
				"type": "String"
			},
			"Transform": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "ELT-Framework"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-03T14:17:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}